.mercury
{
    background-color: aqua;
}
.venus
{
    background-color: aquamarine;
    
} 
.earth 
{
    background-color: azure;
} 
.mars
{
    background-color: beige;
} 
.jupiter 
{
    background-color: bisque;
}
.saturn 
{
    background-color: brown;
}
.uranus 
{
    background-color:cadetblue ;
}
.nepturne
{
    background-color:crimson ;
}