ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .btn{
    border-radius: 60px;
    font-weight: bolder;
    text-align: center;
    /* color: red; */
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .icone{
    font-size: 30px;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}



.ancien_prix{
  color: red;
}

.nouveau_prix{
  font-size: 1.6em;
}